<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lets Play MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill out the fields to play MadLibs</h1>
    <form action="/results" method="post">
    <label for="adjective1">Adjective</label>
    <input id="adjective1" name="adjective1" type="text">
    <label for="adjective2">Adjective</label>
    <input id="adjective2" name="adjective2t" type="text">
    <label for="bird">Type Of Bird</label>
    <input id="bird" name="bird" type="text">
    <label for="room">Room in House</label>
    <input id="room" name="room" type="text">
    <label for="verb1">Verb</label>
    <input id="verb1" name="verb1" type="text">
    <label for="verb2">Verb</label>
    <input id="verb2" name="verb2" type="text">
    <label for="relative">Name of Realative</label>
    <input id="relative" name="relative" type="text">
    <label for="noun1">Noun</label>
    <input id="noun1" name="noun1" type="text">
    <label for="noun2">Noun</label>
    <input id="noun2" name="noun2" type="text">
    <label for="verbIng">Verb ending in -ing</label>
    <input id="verbIng" name="verbIng" type="text">
    <label for="body">Part of the body -plural</label>
    <input id="body" name="body" type="text">
    <label for="pluralNoun">Plural Noun</label>
    <input id="pluralNoun" name="pluralNoun" type="text">
    <label for="verbIng2">Verb ending in -ing</label>
    <input id="verbIng2" name="verbIng2" type="text">
    <label for="noun3">Noun</label>
    <input id="noun3" name="noun3" type="text">
    <button type="submit">Go!</button>
    </form>
  </body>
</html>